{% extends "base.html" %}
{% load static %}

{% block content %}
 <h1 class = "policy-title">Privacy & Cookie Policy</h1>
<div class="privacy-container">
    <p>Tanzeel Foundation promises to take great care with your professional data, and we commit to protecting
        any personal information we obtain about you, whether you are a financial supporter, shopper, volunteer or campaigner.
    </p>
     <p>This Privacy Policy sets out how and why we obtain, use and protect personal information if you interact with us in one of these roles.</p>
    <section id="section1">
        <h3 class = "tafuta">Who we are</h3>
        <p>Tanzeel Foundation is a registered NGO's in Tanzania (S.A.23454).Tanzeel Foundation's registered address is Kiwalani, Kigilagila. Dar es salaam, Tanzania. </p>
        <p>This privacy policy relates to information which is obtained by Tanzeel Foundation and for which Tanzeel Foundation is the Data Controller.</p>    
    </section>

    <section id="section2">
        <h3 class = "tafuta">Why we hold and process supporter's personal data</h3>
        <ul>
            <li>We hold and process supporter's personal data for a number of reasons:</li>
            <li>To keep record of donations made and actions taken by our supporters and our communications with them. </li>
            <li>To support volunteer's whether in shops, at festivals or participating fundraising events.</li>
            <li>To send our supporters marketing information about our projects, fundraising activities and appeals where we have their consent or are otherwise allowed to.</li>
            <li>To support community based fundraisnig and campaigning.</li>
            <li>To comply with legal obligations.</li>        
            <li>To manage our organisation.</li>
            <li>To ensure we do not send unwanted information to supporters or members of the public.</li>
        </ul>
    </section>

      <section id="section2">
        <h3 class = "tafuta">How will Tanzeel Foundation use your personal data?</h3>
        <p>Tanzeel Foundtaion will use your personal information for the following reasons:</p>
        <ul>
            <li>For administrative reasons, including:
            <p>"service administration", which means that Tanzeel Foundation may contact you for the reasons related to administering any donations you have made or any kind of volunteering you applied.</p>
            </li>
            <li>to in relation to correspondence you have entered with us whether by letter, email, text or any other means, and to contact you about any content you provide;</li>
            <li>To support volunteer's whether in shops, at festivals or participating fundraising events.</li>
            <li>To communicate with Tanzeel Foundation's volunteers-to support you in your designated role or administer that role and our organisation.</li>
            <li>For marketing and fundraising reasons;</li>
            <li>To invite you to participate in nsurveys or research about Tanzeel Foundation or our work (participation is always voluntary);</li>        
        </ul>
    </section>

     <section id="section3">
        <h3 class = "tafuta">Will Tanzeel Foundation share your personal information with anyone else?</h3>
        <p>We will only use your information within Tanzeel Foundation for the purposes for which it was obtained. Tanzeel foundation will not, under any circumstances share  or sell your personal data with any third party for their own marketing purposes, and you will not receive marketing from any other companies, charities or other organisations as a result of giving detail to us.</p>
    </section>

     <section id="section3">
        <h3 class = "tafuta">How Tanzeel Foundation keeps your data safe</h3>
        <p>We ensure that there are appropiate technical controls in place to protect your personal etails. Forexample our online forms are always encrypted and our network is protected and rpoutinely monitored.</p>
        <p>We undertake regular reviews of who access to information that we hold to ensure that your information is only accessible by appropiately trained staff, volunteers and contractors.</p>
    </section>

    <section id="section4">
        <h3 class = "tafuta">How long we retain your data</h3>
        <p>We will hold your personal information on our systems for as long as necessary for the relevant activity. </p>
        <p>If you request that we stop sending you marketing materials we will keep a record of your contact details and appropiate information to enable us to comply with your request not to be contacyed by us.</p>
        <p>Legacy income is vital to the running of the charity. We may keep data you provide to us indefinitely, to carry out legacy administration and communicate effectively with the families of people leaving us legacies. this enable us to identify and analyse the source of legacy income we receive.</p>
    </section>
    
    <section id="section3">
    <h3 class="tafuta">Cookie Policy</h3>
    <p>
        At Tanzeel Foundation, we are committed to providing a secure and user-friendly online
        experience. Our website uses cookies to improve performance, remember user preferences,
        monitor website usage, and support the delivery of relevant content. These cookies do not
        collect personally identifiable information unless voluntarily provided by the user.
        By accessing and using our website, you agree to our use of cookies as described in this
        policy. Users can control cookie settings through their web browser at any time.
    </p>
</section>

    <section id="section5">
        <h3 class = "tafuta">Contact Information</h3>
        <p>If you have questions or wishing to change how e communicate with you, or update the we hold, then please contact us: you can contact us at: 
        <ul>
         <li>email us at info@tanzeelfoundation.co.tz</li>
          <li>call us on +255 680 697 370 | +255 776 480 370</li>
            <li>Tandika , 23 Chiwanda street, Dar es salaam</li>
          </ul>
        </p>
    </section>
</div>
{% endblock %}