{% extends "base.html" %}
{% load static %}

{% block content %}
 <h1 class = "terms-title">Terms of Service</h1>
<div class="terms-container">
    <p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you 
        to understand how we collect, use, communicate and disclose and make use of personal information.</p>

    <section id="section1">
        <h3 class = "tafuta">Disclaimer and LIMITATION OF LIABILITY</h3>
           <ul><li>
        Tanzeel Foundation provides this website and its content for informational and charitable
        purposes only. We make reasonable efforts to ensure accuracy but do not guarantee that all
        information is complete, current, or error-free. Donations made through the website are
        voluntary and support the Foundation's mission and programs.
           </li>

          <li>
        Tanzeel Foundation shall not be liable for any direct, indirect, incidental, or consequential
        damages arising from the use of this website, its content, services, or donation platform.
        Use of the website is at the user's own risk and subject to applicable laws.
          </li>
        </ul>

    </section>

    
    <section id="section1">
        <h3 class = "tafuta">How we use your personal information</h3>
        <p>Access to use of this website (http://tanzeelfoundation.co.tz/) any related websites within the domain of tanzeelfoundation.co.tz (the "website") is provided by Tanzeel Foundation ("Tanzeel Foundation") and is subject to the following terms:</p>
    </section>

    <section id="section2">
        <h3 class = "tafuta">Terms of Use</h3>
        <ul>
            <li>By using the Website you agree to be legally bound by these terms of use, which shall take effect from your first use of the Website. If these Terms and Conditions are not accepted in full, the use of the Website must be terminated immediately.</li>
                <li>For the purposes of this agreement,"content" means material including, without limitation, text, video, graphics and audio, published on the Website, whether copyright of Tanzeel Foundation or a third party.</li>
                    <li>Tanzeel Foundation does not warrant that the functions contained in this website will be un interrupted or error free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy and reliability of content.</li>
                        <li>No data transmission over the internet can be guaranteed to be 100% secure, therefore any information sent by e-mail or submitted through the Website is at your own risk.</li>
                            <li>The terms and use of the Website shall be governed by Tanzania law and shall be subject to the exclusve jurisdiction of the courts of United Republic of Tanzania.</li>
                                <li>Should doantions for any particular appeal exceed our target for that appeal then we will use your donation to help other vulnerable families wherever the need is greatest.</li>
                                    <li>We do not actively fundraise from the under 18's and will aim to ensure that no under 18's are contacted with marketing material.</li>
                                        <li>Tanzeel Foundation Website is a copyrighted, you may review the content of the site. You may not copy, reproduce, republish, download, post, broadcast, transmit or otherwise use the Website content in any way except for non-commercial, personal or educational use.</li>
                                            <li>Without the consent of the relevant owners trademarks should not be reproduced, including names, images and logos identifying Tanzeel Foundation or any other third parties reffered to on the Website and their products and services may be subjected to copyright, design rights or trade mark rights.</li>
                                                    <li>If there's any conflict between these terms and any rules and/or specific terms of use appearing on specific sections of the Website, then the latter shall prevail.</li>
                                                        <li>Your use of any third party Websites is at your own risk and subject to their respective terms and conditions and privacy policies.</li>
                                                            <li>Contributions must be your own, they must be civil and tasteful. They must not conatin any unlawful or objectionable content and they must not infringe the law. You agree that Tanzeel Foundation shall not be responsible for your or anyone else's contributions to its Website or any form of social media.</li>
                                                            <li>when you providing your details or contributions to us you are stating that you are over 18 years of age or are a minor with parental consent. You agree that any information you provide to us about yourself upon registration or at anytime will be true and accurate.</li>
                                            <li>You agree to use the Website for lawful purposes and in a way that does not infringe the rights of, nor restrict or inhibit anyone else's use and enjoyment of the Website.</li>
                                                <li>You agree to review this agreement periodically to ensure you are aware of any changes.</li>
        </ul>
    </section>

    <section id="section3">
        <h3 class = "tafuta">Refund Policy</h3>
        <p>All of our donations and contributions are securely processed by our online reseller azam pay, 
            azampay.com is the merchant of record for all our donations and contributions payment services.
            After your donation has been made and we successfully received the transaction, you will get 
            notified immediately for the transaction. </p>
    </section>

    <section id="section5">
        <h3 class = "tafuta">Change to this Terms of Service</h3>
        <p>Tanzeel Foundation reserves the right to change these terms at anytime by posting changes online. Your continued use of the Website after any changes are posted means you agree to be legally bounded by these terms as updated  and/or amended.</p>
    </section>
 <section id="section4">
        <h3 class = "tafuta">Contact Tanzeel Foundation supporter care on:</h3>
        <p>Email: info@tanzeelfoundation.co.tz</p>
        <p>Phone: +255 680 697 370 | +255 776 480 370</p>
        <p>Address: Tandika , 23 Chiwanda street, Dar es salaam.</p>
    </section>

</div>
{% endblock %}