{% extends "base.html" %}
{% load static %}

{% block content %}
 <h1 class = "terms-title">Terms of Service</h1>
<div class="terms-container">
    <p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you 
        to understand how we collect, use, communicate and disclose and make use of personal information.</p>

    <section id="section1">
        <h3 class = "tafuta">Disclaimer and LIMITATION OF LIABILITY</h3>
        <p>Welcome to our Privacy Policy page. These terms govern your use of our website and services...</p>
    </section>

    <section id="section2">
        <h3 class = "tafuta">What personal data we collect and why we collect it</h3>
        <ul>
            <li>When ordering or registering on our Site you may be asked to enter your name, email address, etc.</li>
            <li>When you submit a support question, we collect your first name, last name, and email address.</li>
            <li>When you submit a support question, we collect your first name, last name, and email address.</li>
            <li>When you submit a support question, we collect your first name, last name, and email address.</li>
            <li>When you submit a support question, we collect your first name, last name, and email address.</li>
        </ul>
    </section>

    <section id="section3">
        <h3 class = "tafuta">Refund Policy</h3>
        <p>All of our donations and contributions are securely processed by our online reseller azam pay, 
            azampay.com is the merchant of record for all our donations and contributions payment services.
            After your donation has been made and we successfully received the transaction, you will get 
            notified immediately for the transaction. </p>
    </section>

    <section id="section4">
        <h3 class = "tafuta">Company & Physical Adress</h3>
        <p>If you leave a comment, the comment and its metadata are retained indefinitely...</p>
    </section>

    <section id="section5">
        <h3 class = "tafuta">Change to this Terms of Service</h3>
        <p>If you have questions, you can contact us at: contact@bootstrapmade.com</p>
    </section>
</div>
{% endblock %}